.nav {
    height: 70px;
    padding: 10px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 60px;
}

.nav ul li a {
    margin: 5px;
    margin-left: 40px;
}

.selected {
    color: #C11873;
    font-weight: 700;
}

.logo {
    width: 44px;
    height: auto;
    position: absolute;
    left: 70px;
    transform: translateX(50%);
}